body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 5vh;
}

.input-search {
  height: 25px;
  width: 15vw;
  border: solid red 2px;
  margin-right: 5px;
}

.button-search {
  height: 30px;
  width: 100px;
  background: red;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

.datatable {
  width: 70vw;
  margin-top: 100px;
  padding: 5px;
  border: solid black 2px;
}

.table {
  width: 100%;
}

.row {
  width: 100%;
  border: solid red 2px;
}
